.AboutMeHeading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.AboutMeHome {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.SeanPics {
    width: 325px;
    border: solid;
    border-width: 4px;
}

.aboutMeText {
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    align-self: center;
    margin: 15px;
    
}
