.customContactModal {
    font-size: 16px !important;
    color: black !important;
    font-family: 'Times New Roman', Times, serif !important; 
    text-transform: none !important;
    padding: 0% !important;
    transition: none !important;
    
}

.customContactModal:hover {
    background-color: inherit !important;
    color: blue !important;
    text-decoration: underline !important;
}
