.SkillSetHeading {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 40px;
}

.SkillSetTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 22px;
    text-decoration:underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listOfSkillSets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 30px;
    padding: 20px;
    margin-bottom: 40px;
}


.IndividualSkill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    

}
